---
layout: page
title: OPI&#x2219;Lab
subtitle: OPI&#x2219;Lab - Laboratorio de &Oacute;ptica y Procesamiento de Im&aacute;genes.
sitemap:
  priority: 0.9
---

<!-- <div class="index"> -->
<div class="col-sm-8">
    <div class="index__bumper">
        Somos un laboratorio de óptica aplicada y procesamiento de imágenes enfocados en metrología óptica, imagenología médica, reconstrucción 3D, microscopía y procesamiendo digital de imágenes. 
        <!-- We are an applied optics and image processing lab focused on optical metrology, biomedical imaging, 3D-reconstruction and digital image processing. -->
    </div>
    <div class="index__bumper">
        <div class="cycle-slideshow" data-cycle-speed="200" ata-cycle-fx="fadeout">
            <img src="images/3d_projection.jpg" alt="" width="" height="200px" border="0" />
            <img src="images/arm_projector.jpeg" alt="" width="" height="200px" border="0" />
            <img src="images/deformation_setup.png" alt="" width="" height="200px" border="0" />
            <img src="images/microscope.jpeg" alt="" width="" height="200px" border="0" />
    </div>
        </div>
</div>

<div id="newsid" class="col-sm-4" >
{% include news.html %}
</div>


<!-- <ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
            </a>
        </li>
    {% endfor %}
</ul> -->


<!-- <div class="well">
<h4>News</h4>

{% for article in site.data.news limit:9 %}
{{ article.date }}
<p><em>{{ article.headline }}</em></p>
{% endfor %}

<h4><a href="{{ site.url }}/allnews.html">... see all News</a></h4>

    </div> -->
