---
layout: team
title: Equipo
subtitle: 
permalink: /team/
categories: 
 - team
---

<div class='team'>
    
{% for member in site.categories.team reversed %}
    <div class='person'>
        <img src="{{ member.image }}"/>
        
        <ul class='details'>
            <li class='details__attribute details--name'>{{ member.title }}</li>
            <li class='details__attribute details--title'>{{ member.position }}</li>
            <li class='details__attribute details--social'>
            
            {% if member.cv %}
                <a href="{{ member.cv }}" target='_blank' title="{{member.title}}'s Curriculum Vitae"><i class="fa fa-graduation-cap"></i></a>
                {% endif %}
            
            {% if member.twitter %}
                <a href="https://twitter.com/{{ member.twitter }}" target='_blank' title="{{member.title}}'s Twitter"><i class="fa fa-twitter"></i></a>
            {% endif %}
            
            {% if member.github %}
                <a href="https://github.com/{{ member.github }}" target='_blank' title="{{member.title}}'s GitHub"><i class="fa fa-github"></i></a>
            {% endif %}
                {% if member.website %}
                 <a href="{{ member.website }}" target='_blank' title="{{member.title}}'s Website"><i class="fa fa-link"></i></a>
                 {% endif %}
            
            
            </li>
            
            <li class='details__attribute details--interests'>
                
                {% if member.interests %}
                {% for interest in member.interests %}
            
                <span class='attribute__interest'>{{ interest }}</span><br />
                
                {% endfor %}
                {% endif %}
            
            </li>
            
        </ul>
        
    </div>
{% endfor %}
    
<span class="team__stretch"></span>
        </div>
