---
layout: publication
title: Publicaciones
subtitle: Publicaciones recientes
permalink: /publications/
categories: 
 - publications
---

<table class="table">
<tbody>
    {% assign prev_year = 1900 %}
    {% for entry in site.categories.publications %}
    
    {% assign entry_year = entry.date | date: "%-Y" %}
    
    <tr>
        <td>
            <span class="date">
                {% if entry_year != prev_year %}
                <big><strong>{{entry_year}}</strong></big><br />
                {% endif %}
                
                {% assign prev_year = entry.date | date: "%-Y" %}
    
                {% assign m = entry.date | date: "%-m" %}
                {% case m %}
                  {% when '1' %}Enero
                  {% when '2' %}Febrero
                  {% when '3' %}Marzo
                  {% when '4' %}Abril
                  {% when '5' %}Mayo
                  {% when '6' %}Junio
                  {% when '7' %}Julio
                  {% when '8' %}Agosto
                  {% when '9' %}Septiembre
                  {% when '10' %}Octubre
                  {% when '11' %}Noviembre
                  {% when '12' %}Diciembre
                {% endcase %}
                
                    <td class="publication">
                        <meta name="citation_title" content="{{ entry.title }}">
                        <meta name="citation_publication_date" content="{{entry.date | date: "%Y"}}">
                        <span class="pubtitle">
                            {% assign url = entry.main_url %}
                            {% if url %}
                            <img src="../images/pdficon_small.png" width="16" height="16" alt="PDF" />
                            <a href="{{ url|escape }}">{{ entry.title }}</a>.
                            {% else %}
                            {{ entry.title }}.
                            {% endif %}
                        </span><br />
                        <span class="authors">
                            {{ entry.authors }}.
                        </span><br />
                      
                      <span class="venuetype"></span><span class="venue">{{ entry.venue }}</span>.
                      
                    </td>
                </tr>
    
            </span>
        </td>


    {% endfor %}
</tbody>
</table>






